.login-page{
    display: flex;
}
.banner-lateral{
    display: flex;
}

.banner-lateral a{
    background-color: black;
    padding: 1rem 0 0 1rem;
}

.banner-lateral img{
    width: 70%;
}

.form-login{
    padding-top: 3rem;
    margin-left: -3rem;
    width: 33vw;
}

.form-login h1{
    font: 400 64px 'Noto Sans';
    text-align: center;
    margin-bottom: 2rem;
}

.form-login form{
    display: flex;
    flex-direction: column;
}

form .input-field:first-child{
    margin-bottom: 3rem;
}

.input-field{
    position: relative;
    margin-right: 10rem;
}

.input-field input{
    outline: none;
    border: none;
    font: 400 20px 'Open Sans';

    width: 25rem;
}

form .input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 25rem;
    bottom: -4px;
    background: black;
}

.form-login form a{
    text-align: right;
    text-decoration: none;
    color: black;
    margin: 0.5rem 0 1rem 0;
    font: 400 16px 'Open Sans';
}

.form-login form button{
    width: 10rem;
    padding: 0.5rem 0;
    margin: 3rem 0 2rem 7.5rem;

    border-radius: 10px;
    background: transparent;
    border: 3px solid var(--color-orange-not-so-strong);
    color: var(--color-orange-not-so-strong);
    cursor: pointer;

    font: 400 20px 'Open Sans';
}

.form-login .icons{
    margin: 0 0 2rem 9.5rem;
    align-items: center;
}

.form-login .gmail,
.form-login .facebook{
    font-size: 32px;
}

.form-login .facebook{
    margin-left: 3rem;
}



.form-login p{
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

.form-login .register-button{
    padding: 0.4rem;
    margin-left: 9rem;

    border-radius: 10px;
    background: transparent;
    border: 2.5px solid var(--color-blue-not-so-strong);
    color: var(--color-blue-not-so-strong);
    cursor: pointer;

    font: 400 18px 'Open Sans';
    text-decoration: none;
}