header{
    width: 100vw;
    background-color: var(--color-blue-strong);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
}

.logo h1{
    color: white;
    padding: 1rem 0 1rem 5rem;
    font: 400 48px 'Noto Sans', sans-serif;
}

.buttons-login{
    display: flex;
    padding-right: 5rem;
}

.buttons-login a{
    text-decoration: none;
    color: white;
    font: 400 22px 'Open Sans', sans-serif;
    padding: 0 1rem;
}

  
