.page-footer{
    width: 100%;
    background-color: var(--color-blue-strong);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;  
}

.page-footer hr{
    width: 90vw;
}

.column-about, 
.column-terms,
.column-contact,
.column-rights{
    color: white;
    padding-top: 1.5rem;
}

.column-about p, 
.column-terms p,
.column-contact p{
    padding-bottom: 1rem;
    font: 400 20px 'Open Sans',sans-serif;
}

.column-rights p{
    padding: 1rem 0 2rem 0;
    font: 400 18px 'Open Sans',sans-serif;
    text-align: center;
}

.column-contact .instagram,  
.column-contact .gmail{
    font-size: 32px;
    margin-left: 1rem;
}
.column-contact .facebook{
    font-size: 32px;
}
.column-contact .instagram{
    color: white;
}



