:root{
    --color-blue-strong: #000341;
    --color-blue-not-so-strong: #171B73;
    --color-orange-strong: #FC6F03;
    --color-orange-not-so-strong: #FF9A4C;
    --color-gray-clear: #E0E5EB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

hr{
    border: 1px solid #C2C2C2;
}
